* {
  box-sizing: border-box;
}

html body {
  margin: 0;
  width: 100%;
  font-family: "Helvetica";
}

.body{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}


/* 네비게이션바 */
.navibar{
  height:60px;/*네비게이션바의 세로폭*/
  padding-left:30px;/*좌측간격*/
  padding-right:30px;/*우측간격*/

}
.navibar #logo{
  line-height:60px;/*글자의 세로폭을 늘려주는 속성*/
}

.navibar #logo img{
  vertical-align: middle;/*부모요소의 중앙에 정렬*/
}

.navibar #menu{
  float:right;/*오른쪽정렬*/
  list-style:none;/*블릿삭제*/
  padding:0;
  margin:0;
}
.navibar #menu li{
  float:left;/*li태그안에서 왼쪽정렬*/
  margin-left:30px;/*글자끼리 간격30px*/
  line-height:60px;
}

.navibar #menu li a {
  color:#545454;
  font-size:16px;
  text-decoration:none;
  font-weight:bold;
}
/* 헤더 */
.header{
  height:480px;
  background-image:url("https://i.ibb.co/D5C45tB/1440-480.png");
  background-repeat:no-repeat;  /*이미지 반복배열 제한*/
  background-size:cover; /*배경을 이미지로 완전히 덮이도록함*/ 
  background-position:center center; /*정가운데 위치하도록함*/
}

.container{
  height:800px; 
  width: 100%;
  background-image: url("https://i.ibb.co/48zSTb5/1440-800.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.image{
  margin-left: 160px;
  width: 35%;
  background-image: url("https://i.ibb.co/KzfYXnv/560-720.png");
  float: left;
  vertical-align: middle;
}

/* 제품 */

.Gallery h3{
  font-size:24px;
  color:#545454;
  margin-top:60px;
  margin-bottom:60px;
  text-align:center;
}

.product-list{
  width:1000px;
  margin-left:auto;
  margin-right:auto;
}

.product img{
  width: 240px;
  height: 240px;
  overflow: hidden;
  margin: 10px;
}


.clearfix{
  clear:both;/*빈태그를 만들어 float를 해제*/
}

.products img{
  height: 240px;
/*   display: inline-block; */
  overflow: hidden;
}


.imgcont{
  display: inline-block;
}

.header1{
  height:480px;
  background-image:url("https://i.ibb.co/D5C45tB/1440-480.png");
  background-repeat:no-repeat;  /*이미지 반복배열 제한*/
  background-size:cover; /*배경을 이미지로 완전히 덮이도록함*/ 
  background-position:center center; /*정가운데 위치하도록함*/
}  

.footer{
  text-align: center;
  margin-top:40px;
  margin-bottom:80px;
}

.footer a{
  margin-left:10px;
  margin-right:10px;
  text-decoration:none;
}
